@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');




.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared style */
.word-1{
    color: #E95A08 ;
}

.display-flex{
    display: flex;
}


/* nav-bar sec */
.logo{
    justify-content: space-between;
}

.menu-item-1{
     list-style: none;
    margin-right: 45px
}

.menu-item{
    list-style: none;
    margin-right: 45px;
}

.menu-link{
    text-decoration: none;
}

.menu-link-1{
    color: #8987A1;
}
.menu-link-2{
    color: #000000;
}

.logo, .banner-section{
    max-width: 1140px;
    margin: 0 auto;
}


/* banner style */
.banner-section{
   display: flex;
   align-items: center;
   margin-top: 250px;
   margin-bottom: 100px;
}
.banner-image{
    width: 560px;
    height: auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}


/* mobile responsive */
@media screen and (max-width: 576px){
    .logo{
        justify-content: space-between;
    }
    .menu-item{
        display: none;
    }

    .banner-section{
        flex-direction: column-reverse;
        padding: 20px;
        justify-items: center;
    }

}