
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');




.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
     overflow-x: hidden; 
}
/* shared style */

.word-1{
    color: #E95A08 ;
}

.display-flex{
    display: flex;
}


/* nav-bar sec */

.logo{
    justify-content: space-between;
}

.item-1{
     list-style: none;
    margin-right: 45px;
    
    
}

.menu-item{
    list-style: none;
    margin-right: 45px;
}

.menu-link{
    text-decoration: none;
}

.menu-link-1{
    color: #8987A1;
}
.menu-link-2{
    color: #000000;
    text-decoration: none;
}

.logo, .banner-section{
    max-width: 1140px;
    margin: 0 auto;
}


/* banner style */
.banner-section{
   display: flex;
   align-items: center;
   margin-top: 250px;
   margin-bottom: 100px;
}
.banner-image{
    width: 560px;
    height: auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}

/* our plant section start */
.our-plant{
    max-width: 1140px;
    margin: 0 auto;

}
.plant-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.plant-description{
    font-size: 1.35rem;
    font-weight: 300;
    text-align: center;
    padding-left: 125px;
    padding-right: 125px;
}

.plant-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.plant-item img{
    width: 100%;
}
.plant-item{
    padding-bottom: 30px;
}



.card-title{
    font-size: 1.35rem;
    font-weight: 300;
}

.card-price{
     font-size: 1.35rem;
    font-weight: bold;
}
.card-btn{
    padding: 20px 80px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    width: 270;
}

/*  flower plant lover section */
.lover-image{
    width: 100%;
}
.Flower-Plants-Lover{
    max-width: 1140px;
    margin: 0  auto;
    gap: 60px;
}
.lover-title{
    font-size: 3rem;
    font-weight: bold;
}
.lover-container{
    list-style-type: square;
}
.lover-item{
    font-size: 1.35rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Join the colorful Bunch */
.join-the-bunch{
    background-image: url(/assets/news-letter-bg.png);
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.colorful{
    margin: auto;
   
    
}
.colorful-title{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
.color-item,input{
    padding-right: 550px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
}
.color-btn{
    padding: 17px 53px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    
    
}
.color-input{
    max-width: 500px;
    display: flex;
    gap: 5px;
}







/* mobile responsive */
@media screen and (max-width: 576px) {
    .logo{
        justify-content: space-between;
    }
    .menu-item{
        display: none;
    }
       .banner-section{
        flex-direction: column-reverse;
        justify-items: center;
    }
    .plant-box{
        flex-direction: column;
        grid-template-columns: repeat(2 ,1fr);
        gap: 20px; 
    }
    .plant-description{
        padding: 15px;
        margin-left: 28px;
        margin-right: 28px;
    }

    .Flower-Plants-Lover{
        flex-direction: column;
        

    }
    .lover-container{
        align-items: center;
    }

    .join-the-bunch{
        background-size: cover;
    }

    .colorful{
        flex-direction: column;
    }
    
}
 
